<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Realtime: {{ ref }}</title>
    </head>
    <body>
        <h1>WebSocket Test</h1>
        <h2>{{ ref }}</h2>
        <ul id='messages' style="max-height: 500px; overflow-y: scroll;">
        </ul>
        <script>
            var wsprotocol = 'ws:'
            if (location.protocol === 'https:') {
                wsprotocol = 'wss:'
            }
            var ws = new WebSocket(`${wsprotocol}//${location.host}/realtime/{{ ref }}`);
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
        </script>
    </body>
</html>